<%= link_to @task.id, "http://printrdwn.com:3000/tasks/#{@task.id}" %>
<p>
  <strong>Task ID</strong>
  <%= @task.id %>
</p>
<p>
  <strong>Subject</strong>
  <%= @task.subject %>
</p>

<p>
  <strong>Requested By</strong>
  <%= @task.user.email unless @task.user.blank? %>
</p>
<p>
  <strong>Status</strong>
  <%= @task.status.status unless @task.status.blank? %>
</p>
<p>
  <strong>Description</strong>
  <%= @task.description %>
</p>
<p>
  <strong>severity</strong>
  <%= @task.severity.severity unless @task.severity.blank? %>
</p>

<h2>Comments</h2>
  <%= render @task.task_comments %>
