<%= form_for @note do |f| %>

  <div>
    <%= f.label :title  %>
    <%= f.text_field :title %>
  </div>

  <%= f.text_area :content, :class => "tinymce", :rows => 40, :cols => 120 %>

  <div>
    <%= f.submit %>
  </div>

<% end %>

<%= tinymce %>

