<%= form_for @note do |f| %>
<div>
<%= f.submit "Save", :class => "btn btn-success btn-sm" %>
</div>
  <div>
    <%= f.label :title  %>
    <%= f.text_field :title %>
  </div>


  <%= f.text_area :content, :class => "tinymce", :rows => 1, :cols => 1 %>

  <%= f.hidden_field :user_id, value: current_user.id %>
<% end %>

<%= tinymce %>

