
<%= link_to '+', new_thing_path, :class => "btn btn-primary" %>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Date Modified</th>
      <th scope="col">Size</th>
      <th scope="col">Type</th>
      <th scope="col" colspan="2"></th>
    <tr>
  </thead>
  <tbody>  
    <% @things.each do |thing| %>
    <% thing.files.each do |f| %>
      <tr>
        <td><%= link_to f.filename, url_for(f) %></td>
        <td><%= thing.updated_at.strftime("%b %e, %Y at %l:%M %P") %></td>
        <td><%= number_to_human_size(f.byte_size) %></td>
        <td><%= f.content_type %></td>
        <td><%# link_to 'Rename', edit_thing_path(thing) %></td>
        <td><%= link_to 'Download', rails_blob_path(f, disposition: "attachment") %></td>
        <td><%# link_to 'X', rails_blob_path(f), method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-danger btn-sm" %> 
      </tr>      
    <% end %>
    <% end %>
  </tbody>
</table>

