
<%= link_to '+', new_thing_path, :class => "btn btn-primary" %>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Date Modified</th>
      <th scope="col">Size</th>
      <th scope="col">Type</th>
      <th scope="col"></th>
    <tr>
  </thead>
  <tbody>  
    <% @things.each do |thing| %>
      <tr>
    
<!--      <td>
          <% case thing.it.content_type
            when "image/png" %>
              <%= image_tag((thing.it.variant(resize: "100x100") if thing.it.attached?),  :class => "thing-img") %>
            <% when "image/jpeg" %>
              <%= image_tag((thing.it.variant(resize: "100x100") if thing.it.attached?),  :class => "thing-img") %>
            <% when "image/gif" %>
              <%= image_tag((thing.it.variant(resize: "100x100") if thing.it.attached?),  :class => "thing-img") %>
            <% when "video/mp4" %>
              <%= video_tag((url_for(thing.it) if thing.it.attached?), class:"thing-img") %>
            <% when "application/pdf" %>
              <%= image_tag((thing.it.blob.preview(resize: "100x100") if thing.it.blob.previewable?), :class => "thing-img") %>
            <% when "application/msword" %>
              <%= image_tag((thing.it.blob.preview(resize: "100x100") if thing.it.blob.previewable?), :class => "thing-img") %>
            <% when "application/vnd.openxmlformats-officedocument.wordprocessingml.document" %>
              <%= image_tag((thing.it.blob.preview(resize: "100x100") if thing.it.blob.previewable?), :class => "thing-img") %>
            <% when "application/vnd.ms-excel" %>
              <%= image_tag((thing.it.blob.preview(resize: "100x100") if thing.it.blob.previewable?), :class => "thing-img") %>
            <% when "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" %>
              <%= image_tag((thing.it.blob.preview(resize: "100x100") if thing.it.blob.previewable?), :class => "thing-img") %>
            <% when "application/vnd.ms-powerpoint" %>
              <%= image_tag((thing.it.blob.preview(resize: "100x100") if thing.it.blob.previewable?), :class => "thing-img") %>
            <% when "application/vnd.openxmlformats-officedocument.presentationml.presentation" %>
              <%= image_tag((thing.it.blob.preview(resize: "100x100") if thing.it.blob.previewable?), :class => "thing-img") %>
            <% else %>
          <% end %>
        </td>
 -->
        <td><%= link_to thing.it.filename, rails_blob_path(thing.it) %></td>
        <td><%= thing.updated_at.strftime("%b %e, %Y at %l:%M %P") %></td>
        <td><%= number_to_human_size(thing.it.byte_size) %></td>
        <td><%= thing.it.content_type %></td>
        <td><%= link_to 'View', rails_blob_path(thing.it) %></td>
        <td><%= link_to 'Download', rails_blob_path(thing.it, disposition: "attachment") %></td>
       </tr>      
    <% end %>
  </tbody>
</table>

