p> To view the most recent updates to this case go to: </p>
<%= link_to @case.id, "http://printrdwn.com:3000/cases/#{@case.id}" %>
<p>
  <strong>Case ID</strong>
  <%= @case.id %>
</p>
<p>
  <strong>Subject</strong>
  <%= @case.subject %>
</p>
<p>
  <strong>Requested By</strong>
  <%= @case.requested_by.email unless @case.requested_by.blank? %>
</p>
<p>
  <strong>Status</strong>
  <%= @case.status.status unless @case.status.blank? %>
</p>
<p>
  <strong>Description</strong>
  <%= @case.description %>
</p>
<p>
  <strong>severity</strong>
  <%= @case.severity.severity unless @case.severity.blank? %>
</p>

<h2>Comments</h2>
  <%= render @case.case_comments %>

