<%= form_for @case do |form| %>
  <% if @case.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@case.errors.count, "error") %> prohibited
        this Case from being saved:
      </h2>
      <ul>
        <% @case.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
   <div class="form-group">
    <%= form.label :subject %>
    <%= form.text_field :subject, {required: true, class: "form-control"} %>
   </div>
   <div class="form-group">
     <%= form.label "Locations" %>
     <%= form.collection_select :location_ids, Location.order(:name), :id, :name,{:prompt => false}, {:multiple => true, :size => 10, :required => true, class: "form-control" } %>
     <small id="selectHelp" class="form-text text-muted">Try ctrl+click to select multiple.(Use cmd+click on OSX.)</small>
   </div>
   <div class="form-group">
     <%= form.label :severity %>
     <%= form.collection_select :severity_id, Severity.all, :id, :severity, {:selected => 2}, {class: "form-control"} %>
   </div>
   <div class="form-group">
    <%= form.label :status %>
    <%= form.collection_select :status_id, Status.all, :id, :status, {:selected => 1}, {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :attachments %>
    <%= form.file_field :files, {multiple: true, class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= form.label :assigned_to %>
    <%= form.collection_select :assigned_to_id, User.all, :id, :email, {:prompt => false}, {class: "form-control"} %>
  </div>
  <%= form.hidden_field :requested_by_id, value: current_user.id %>
  <div class="form-group">
    <%= form.label "Followed by" %>
    <%= form.collection_select :user_ids, User.order(:email), :id, :email,{:prompt => false}, {:multiple => true, :required => false, class: "form-control" } %>
     <small id="selectHelp" class="form-text text-muted">Try ctrl+click to select multiple.(Use cmd+click on OSX.)</small>
  </div>

  <div class="form-group">
    <%= form.submit "Create Case", :class => "btn btn-success" %>
  </div>
<% end %>
