<div>
<%= link_to 'Open Cases', cases_path, :class=> "btn btn-primary" %>
<%= link_to 'Billable Cases', billable_cases_path, :class=> "btn btn-secondary" %>
<%= link_to 'Closed Cases', closed_cases_path, :class=> "btn btn-secondary" %>
</div>
<br />
<br />
<h2>Open Cases (<%= @open_cases.count %>)</h2>
<br />
<%= link_to 'New Case', new_case_path, :class => "btn btn-primary" %>  
<br /> 
<br />      

<% @open_cases.each do |c| %>
<div class="card">
  <div class="card-header"> 
    <% case  c.severity.severity
      when "Urgent" %>
        [Urgent]
      <% when "Low"  %>
        [Low]
      <% else %>
        [Normal]
    <% end %>

    <%= link_to "Case No. #{c.id}", case_path(c) %>
    <% case c.status.status
       when 'In progress' %>
        <span class="spinner-border spinner-border-sm"></span>
      <% when 'Complete: Billable' %>
        <span class="badge badge-success"><%= c.status.status unless c.status.blank? %></span>
    <% end %>

    <p class="card-text"><small class="text-muted"> Created on <%= c.created_at.strftime("%b %d, %Y")  %></small></p>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= c.subject %></h5>
    <p class="card-text"><%= c.description %></p>
    <p class="card-text"><small class="text-muted">Last updated <%=c.updated_at.strftime("%B %d") %></small></p>
    <% c.case_locations.each do |tl| %>
      <%= link_to "#{tl.location.short_name} (#{tl.location.city})", location_path(tl.location), :class => "btn btn-secondary" %>
    <% end %> 
  </div>
  <div class="card-footer text-muted">
    Assigned to <%= c.assigned_to.email %><br /><br />
    <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseComments<%= c.id %>" aria-expanded="false" aria-controls="collapseComments<%= c.id %>">
      Comments (<%= c.case_comments.count %>)
    </button>
    <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseAttachments<%= c.id %>" aria-expanded="false" aria-controls="collapseAttachments<%= c.id %>">
      Attachments (<%= c.files.count %>)
    </button>
  
      <div class="collapse" id="collapseComments<%= c.id %>"><%= render c.case_comments %></div>
      <%# render 'case_comments/form' %>
      <div class="collapse" id="collapseAttachments<%= c.id %>">
        <% c.files.each do |f| %>
          <%= link_to f.filename, url_for(f) %><br>
        <% end %>
      </div>

  </div>

</div>
<br>
<% end %>

<script> 
            $(document).ready(function() { 
                $("#gfg").on("keyup", function() { 
                    var value = $(this).val().toLowerCase(); 
                    $("#geeks tr").filter(function() { 
                        $(this).toggle($(this).text() 
                        .toLowerCase().indexOf(value) > -1) 
                    }); 
                }); 
            }); 
</script> 


