<%= form_with(model: [ @team, @team.team_members.build ]) do |f| %>
  <p>
    <%= f.label :role %>
    <%= f.collection_select :role_id, Role.all, :id, :role, prompt: true  %>
  </p>
    <%= f.hidden_field :user_id, value: current_user.id %>
  <p>
    <%= f.submit 'Join' %>
  </p>
<% end %>
