<p><%= @contact.first_name %> <%= @contact.last_name %>
<br><%= @contact.company %>
<br><%= @contact.email %>
<br><%= @contact.work_number %>
<br><%= @contact.mobile_number %>
<br><%= @contact.work_fax %>
<br><%= @contact.home_number %>
<br><%= @contact.notes %>
</p>
<%= link_to 'back', contacts_path %>
