<%= form_with model: @support_case, local: true do |form| %>
  <% if @support_case.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@support_case.errors.count, "error") %> prohibited
        this Support Case from being saved:
      </h2>
      <ul>
        <% @support_case.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
   <p>
    <%= form.label :subject %>
    <%= form.text_field :subject %>
   </p>
   <p>
    <%= form.label :location %>
    <%= @location_selection = form.collection_select :location_id, Location.all, :id, :name, prompt: true %>
   </p>
   <p>
     <%= form.label :severity %>
     <%= form.collection_select :severity_id, Severity.all, :id, :severity, {:selected => 2} %>
   </p>
   <p>
    <%= form.label :status %>
    <%= form.collection_select :status_id, Status.all, :id, :status, {:selected => 1} %>
  </p>
  <p>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </p>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <p>
    <%= form.submit %>
  </p>
<% end %>
