<%= form_with model: @location, local: true do |form| %>
  <% if  @location.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(location.errors.count, "error") %>
          prohibited this location from being saved:
      </h2>
      <ul>
        <% @location.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :short_name %>
    <%= form.text_field :short_name, required: true %>
    <br><%= form.label :name %>
    <%= form.text_field :name, required: true %>  
    <br><%= form.label :address1 %>
    <%= form.text_field :address1 %>
    <br><%= form.label :address2 %>
    <%= form.text_field :address2 %>
    <br><%= form.label :city %>
    <%= form.text_field :city %>
    <br><%= form.label :state %>
    <%= form.text_field :state %>
    <br><%= form.label :zip %>
    <%= form.text_field :zip %>
    <br><%= form.label :phone %>
    <%= form.text_field :phone %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
